.circular-notice-block {
	border: 1px solid #ddd;
	border-radius: 3px;
	padding: 10px;
	margin: 10px 0;
	clear: both;
}

.circular-notice-date {
	width: 100px !important;
}

.circular-notice-float-right {
	float: right;
}

.circular-notice-clear-float {
	clear: both;
}

.circular-notice-index-status {
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}

.circular-notice-index-content {
	float: left;
	margin-bottom: 10px;
}

.circular-notice-index-counter {
	float: right;
	margin-bottom: 10px;
}

.circular-notice-index-divider {
	margin-bottom: 10px !important;
}

.circular-notice-box-left {
	float: left;
	margin-right: 10px;
}

.circular-notice-indent {
	margin-left: 20px;
}

.circular-notice-target-users-header {
	background-color: #CCC;
}

/*
.circular-notice-checkbox {
	margin-left: 0px !important;
}

.circular-notice-checkbox > label {
	font-weight: normal !important;
}
*/